
.page-container {
  padding: 30px;
  ;
  color: #d1f7f1;
  min-height:fit-content;
  
  font-family: "Segoe UI", sans-serif;

}

.page-title {
  font-size: 2.5rem;
  color: #7fffd4;
  margin-bottom: 10px;
}

.page-subtext {
  font-size: 1.2rem;
  color: #a0e6da;
}

.input-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
}

.input-container input,
.input-container textarea {
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: #0f1f1e;
  color: #a0e6da;
  font-size: 1rem;
}

.input-container button {
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: #66fcf1;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.input-container button:hover {
  background-color: #66fcf1
;
}

.item-list {
  margin-top: 20px;
  list-style: none;
  padding-left: 0;
}

.item-list li {
  background-color: #122c2a;
  padding: 10px;
  margin-bottom: 10px;
  border-left: 4px solid #00ffd1;
  border-radius: 6px;
}
